terratowns_endpoint="https://terratowns.cloud/api"
ultra = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/ultra" 
    content_version = 1
}
tunz = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/tunz" 
    content_version = 1
}

