terratowns_endpoint="https://terratowns.cloud/api"
bucket_name ="w4a7vvldurzbae9ub3l4bdu14m2bq0p0"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets/"
content_version=2
